<!doctype html>
<html ng-app="cotizacionExpressApp" ng-init="nav='1'">
<head>
    <meta content="text/html;" http-equiv="content-type" charset="utf-8">
    <title>Cotización express</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--     <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
 -->
    <link rel="stylesheet" href="styles/estilos.css">
    <!-- endbuild -->
</head>
<body>
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="cabecera">
    <nav>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div>
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
            </div>

<ul>

</ul>
<ul class="Right">
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" tabindex="-1">Login
        </a>
        <ul class="dropdown-menu">
            <li><a  ng-click="logout()">Cerrar sesión</a></li>
        </ul>
    </li>
</ul>
</nav>
</div>

<div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                   <img src="logo.png" alt="">

                </li>
                <li>
                </li>
                <li class="btnsCotizacion hidden" >
                    <label for="id_cabecera" ng-class="{activo:nav==='1'}">Datos del cliente</label>
                    <input tabindex="-1" id="id_cabecera" type="radio" ng-model="nav" value="1" checked>
                </li>
                <li class="btnsCotizacion hidden">
                    <label for="id_detalle" ng-class="{activo:nav==='2'}">Detalle Mudanza</label>
                    <input id="id_detalle" type="radio" ng-model="nav" value="2">
                </li>
                <li class="btnsCotizacion hidden">
                    <label for="id_muebles" ng-class="{activo:nav==='4'}">Muebles y Contenedores</label>
                    <input id="id_muebles" type="radio" ng-model="nav" value="4">
                </li>
                <li class="btnsCotizacion hidden">
                    <label for="id_materiales" ng-class="{activo:nav==='5'}">Materiales</label>
                    <input id="id_materiales" type="radio" ng-model="nav" value="5">
                </li>
                <li class="btnsCotizacion hidden">
                    <label for="id_presupuesto" ng-class="{activo:nav==='3'}">Presupuesto</label>
                    <input id="id_presupuesto" type="radio" ng-model="nav" value="3">
                </li>
                <li class="btnsCotizacion hidden" ng-show="resumen" ng-click="checked=false">
                    <label for="id_resumen" ng-class="{activo:nav==='6'}">Resumen</label>
                     <input id="id_resumen" type="radio" ng-model="nav" value="6">
                </li>
            </ul>
            <ul class="btnAccion">
                <li ng-show="nav==='6'">
                </li>
                <li ng-show="nav==='6'">
                    <button type="submit" ng-disabled="otros_temp.length === 0 && contenedores_temp.length === 0 && muebles_temp.length === 0" class="btn btn-outline btn-lg btn-block" onclick="descargarExcel()" ng-click="save(cotizacion,cliente)">Exportar</button>
                </li>
                <li ng-show="nav==='6'">
                    <button type="submit" ng-disabled="otros_temp.length === 0 && contenedores_temp.length === 0 && muebles_temp.length === 0" class="btn btn-outline btn-lg btn-block" onclick="descargarExcel2()" ng-click="save2(cotizacion,cliente)">Procesar</button>
                </li>
            </ul>
            <div>Derechos reservados @2016</div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div ui-view name="maincontent"></div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<span class="btnLimpiar" ng-show="resumen">
                    <button type="button" class="btn-inverse"   ng-click="limpiar()" data-toggle="tooltip" data-placement="left" title="Limpiar">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </span>
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/cotizacion.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/cotizacion.js"></script>
<!-- endbuild -->
