<!doctype html>
<html ng-app="cotizacionExpressApp" ng-init="nav='1'">
<head>
    <meta content="text/html;" http-equiv="content-type" charset="utf-8">
    <title>Mudarte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--     <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
 -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->
</head>
<body tabindex="-1">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="cabecera">
    <nav>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div>
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>onbeforeunload="return false;"
                    <span class="icon-bar"></span>
                </button> -->
                <div class="volver btnsCotizacion hidden">
                   <a  ng-show="nav==='4' && session" ng-click="nav='1'" tabindex="-1"></a>
                   <a  ng-show="nav==='5' && session" ng-click="nav='4'" tabindex="-1"></a>
                   <a  ng-show="nav==='2' && session" ng-click="nav='5'" tabindex="-1"></a>
                   <a  ng-show="nav==='3' && session" ng-click="nav='2'" tabindex="-1"></a>
                   <a  ng-show="nav==='6' && session" ng-click="nav='3'" tabindex="-1"></a>
               </div>
            </div>

<ul>
</ul>
<!-- <ul class="Right">
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" tabindex="-1">Login
        </a>
        <ul class="dropdown-menu">
            <li><a  ng-click="logout()">Cerrar sesión</a></li>
        </ul>
    </li>
</ul> -->
</nav>
</div>

<div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                   <img src="logo.png" alt="" tabindex="-1">
                </li>
                <li>
                </li>
                <li class="btnsCotizacion hidden" >
                    <label for="id_cabecera" ng-class="{activo:nav==='1'}" onclick="scroll0();">Datos del cliente</label>
                    <input tabindex="-1" id="id_cabecera" type="radio" ng-model="nav" value="1">
                </li>
                <li class="btnsCotizacion hidden">
                    <label for="id_muebles" ng-class="{activo:nav==='4'}" onclick="scroll0();">Muebles y Contenedores</label>
                    <input id="id_muebles" type="radio" ng-model="nav" value="4">
                </li>
                <li class="btnsCotizacion hidden">
                    <label for="id_materiales" ng-class="{activo:nav==='5'}" onclick="scroll0();">Materiales</label>
                    <input id="id_materiales" type="radio" ng-model="nav" value="5">
                </li>
                <li class="btnsCotizacion hidden">
                    <label for="id_detalle" ng-class="{activo:nav==='2'}" onclick="scroll0();">Detalle Mudanza</label>
                    <input id="id_detalle" type="radio" ng-model="nav" value="2">
                </li>
                <li class="btnsCotizacion hidden">
                    <label for="id_presupuesto" ng-class="{activo:nav==='3'}" onclick="scroll0();">Presupuesto</label>
                    <input id="id_presupuesto" type="radio" ng-model="nav" value="3">
                </li>
                
                <li class="btnsCotizacion hidden" ng-show="resumen" ng-click="checked=false">
                    <label for="id_resumen" ng-class="{activo:nav==='6'}" onclick="scroll0();" ng-click="actFecha();">Resumen</label>
                     <input id="id_resumen" type="radio" ng-model="nav" value="6">
                </li>
            </ul>
            <ul class="btnAccion">
              <li ng-show="nav==='8'" ng-if="nav==='8'">
                <button class="btn btn-lg btn-block btn-outline" ng-click="Go('list')">Ver Lista</button>
              </li>
              <li ng-show="nav==='7'" ng-if=" nav==='7'">
                <button class="btn btn-lg btn-block btn-outline" ng-click="Go('cotizacion')">Nueva</button>
              </li>
              <li class="" ng-show="nav==='8' || nav==='10'" ng-if="nav==='8' || nav==='10'">
                <button class="btn btn-lg btn-block btn-outline" ng-click="Go('edit',id_cotizacion)">Editar</button>
              </li>
            </ul>
            <ul class="btnAccion btnsCotizacion hidden">

                <li ng-show="resumen" ng-show="nav!=='6'" ng-if="nav!=='6'" class="totalm3 btnsCotizacion">
                    <table>
                        <tr>
                            <td>Total:</td>
                            <td class="montos">{{total_m3|number:2}} m<sup>3</sup></td>
                        </tr>
                        <tr>
                            <td>Margen:</td>
                            <td class="montos">{{margen}} %</td>
                        </tr>
                        <tr>
                            <td>Total con margen: </td>
                            <td class="montos">{{total_m3 * (1+(margen/100))|number:2}} m<sup>3</sup></td>
                        </tr>
                    </table>
                    <!-- <label>
                        Total m<sup>3</sup>: {{total_m3|number:2}} <br>
                        Margen: {{margen}} % <br>
                        Total con margen: {{total_m3 * (1+(margen/100))|number:2}}
                    </label> -->
                </li>

                <li ng-show="nav==='4' && resumen" ng-if="nav==='4' && resumen">
                    <button type="button" class="btn btn-limpiar btn-lg btn-block"  ng-click="limpiar()" title="Limpiar">
                    <!-- <button type="button" class="btn btn-limpiar btn-lg btn-block" onclick="limpiar()" ng-click="limpiar()" title="Limpiar"> -->
                    Limpiar
                    </button>
                </li>

                <li ng-show="nav==='6'" ng-if="nav==='6'">
                    <!-- <button type="submit" ng-disabled="otros_temp.length === 0 && contenedores_temp.length === 0 && muebles_temp.length === 0" class="btn btn-outline btn-lg btn-block" onclick="descargarExcel()" ng-click="save(cotizacion,cliente)">Exportar</button> -->
                    <button type="submit" ng-disabled="otros_temp.length === 0 && contenedores_temp.length === 0 && muebles_temp.length === 0" class="btn btn-outline btn-lg btn-block" data-toggle="modal" data-target="#modalConfirmacionExportar">Exportar</button>
                </li>
                <li ng-show="nav==='6'" ng-if="nav==='6'">
                    <!-- <button type="submit" ng-disabled="otros_temp.length === 0 && contenedores_temp.length === 0 && muebles_temp.length === 0" class="btn btn-outline btn-lg btn-block" ng-click="save(cotizacion,cliente)" data-toggle="modal" data-target="#myModal">Procesar</button> -->
                    <button type="submit" ng-disabled="otros_temp.length === 0 && contenedores_temp.length === 0 && muebles_temp.length === 0" class="btn btn-outline btn-lg btn-block"  data-toggle="modal" data-target="#modalConfirmacion">Procesar</button>

                </li>
                <li >
                  <button class="btn btn-lg btn-block btn-outline" data-toggle="modal" data-target="#modalCancel">Ver Lista</button>
                </li>
            </ul>
            <div>Derechos reservados @2016</div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div ui-view name="maincontent"></div>
        </div>
        <div class="btnsPaginacion">
            <div>
                <div class="btnsCotizacion hidden">
                    <button class="btnAnterior" ng-show="nav==='4' && session" ng-click="nav='1'" onclick="scroll0();">Anterior</button>
                    <button class="btnAnterior" ng-show="nav==='5' && session"  ng-click="nav='4'" onclick="scroll0();">Anterior</button>
                    <button class="btnAnterior" ng-show="nav==='2' && session"  ng-click="nav='5'" onclick="scroll0();">Anterior</button>
                    <button class="btnAnterior" ng-show="nav==='3' && session"  ng-click="nav='2'" onclick="scroll0();">Anterior</button>
                    <button class="btnAnterior" ng-show="nav==='6' && session && resumen" ng-click="nav='3'" onclick="scroll0();">Anterior</button>

                   <button class="btnSiguiente" ng-show="nav==='1' && session"  ng-click="nav='4'" onclick="scroll0();">Siguiente</button>
                   <button class="btnSiguiente" ng-show="nav==='4' && session"  ng-click="nav='5'" onclick="scroll0();">Siguiente</button>
                   <button class="btnSiguiente" ng-show="nav==='5' && session"  ng-click="nav='2'" onclick="scroll0();">Siguiente</button>
                   <button class="btnSiguiente" ng-show="nav==='2' && session"  ng-click="nav='3'" onclick="scroll0();">Siguiente</button>
                   <button class="btnSiguiente" ng-show="nav==='3' && session && resumen" ng-click="nav='6'" onclick="scroll0();">Siguiente</button>
                </div>
            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->
<!-- <confirmar-cotizacion></confirmar-cotizacion> -->
</div>
<!-- /#wrapper -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/router.js"></script>
<script src="scripts/services/cotizacion.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/cotizacion.js"></script>
<script src="scripts/directives/itemmuebles.js"></script>
<script src="scripts/directives/itemcontenedor.js"></script>
<script src="scripts/directives/itemresumen.js"></script>
<script src="scripts/controllers/cotizacionctrlview.js"></script>
<!-- endbuild -->
<script src="/bower_components/angular-i18n/angular-locale_es-ar.js"></script>
<div class="cargando hidden">
    <span>Cargando...</span>
    <div class="loader" id="loader">Loading...</div>
</div>
<script>
$(function(){
    var rx = /INPUT|SELECT|TEXTAREA/i;
     $(document).bind("keydown keypress", function(e){
         if( e.which == 8 ){ // 8 == backspace
             if(!rx.test(e.target.tagName) || e.target.disabled || e.target.readOnly ){
                 e.preventDefault();
             }
         }
     });
     if (typeof window.event == 'undefined'){
    document.onkeypress = function(e){
     var test_var=e.target.nodeName.toUpperCase();
     if (e.target.type) var test_type=e.target.type.toUpperCase();
     if ((test_var == '/INPUT' && test_type == 'TEXT' || test_type == 'PASSWORD'  || test_type == 'EMAIL') || test_var == 'TEXTAREA'){
       return e.keyCode;
     }else if (e.keyCode == 8){
       e.preventDefault();
     }
    }
  }else{
    document.onkeydown = function(){
     var test_var=event.srcElement.tagName.toUpperCase();
     if (event.srcElement.type) var test_type=event.srcElement.type.toUpperCase();
     if ((test_var == 'INPUT' && test_type == 'TEXT'  || test_type == 'PASSWORD'  || test_type == 'EMAIL') || test_var == 'TEXTAREA'){
       return event.keyCode;
     }else if (event.keyCode == 8){
       event.returnValue=false;
     }
    }
  }
});
</script>
</body>
