<div class="container-fluid">
  <div class="panel panel-info">
    <div class="panel-heading">Datos Del Cliente</div>
      <div class="panel-body">
        <div class="col-md-12">
          <div class="form-group col-md-6">
            <div class="col-md-4"><label for="" class="form-label">Nombre y Apellido:</label></div>
            <div class="col-md-8"><input type="text" class="form-control" placeholder="Nombre y Apellido"></div>
          </div>
          <div class="form-group col-md-6">
            <div class="col-md-4"><label for="" class="form-label">Teléfono:</label></div>
            <div class="col-md-8"><input type="number" min=0 class="form-control" placeholder="Telefono"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group col-md-6">
            <div class="col-md-4"><label for="" class="form-label">Email:</label></div>
            <div class="col-md-8"><input type="email" class="form-control" placeholder="email"></div>
          </div>
          <div class="form-group col-md-6">
            <div class="col-md-4"><label for="" class="form-label">Fuente De Promocion:</label></div>
            <div class="col-md-8"><input type="text" class="form-control" placeholder="Fuente De Promocion"></div>
          </div>
        </div>
      </div>
    </div>
</div>
