<div class="row">
  <div class="col-md-6">
    <h1>Lista de cotizaciones</h1>
  </div>
  <div class="col-md-6">
    <div class="buscar">
    <input type="search" class="form-control" placeholder="Buscar" ng-model="searchText" autofocus>
    </div>
  </div>
</div>

<div class="row">
  <div ng-repeat="cotizacion in cotizaciones_totales | filter:searchText">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="listCotizacion">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xm-12">
          <div class="fecha">
          <p class="fecha1">{{cotizacion.fecha_de_cotizacion | date:"dd"}}</p>
          <p class="fecha2">{{cotizacion.fecha_de_cotizacion | date:"MMMM"}}</p>
          <p class="fecha3">  {{cotizacion.fecha_de_cotizacion | date:"yyyy"}}</p>
          <div class="detalle">

            <!-- <a tabindex="-1" ui-sref="show({id_cotizacion:cotizacion.id})">Ver</a> -->
            <a tabindex="-1" ng-click="Go('show',cotizacion.id)">Ver</a>

          </div>
        </div>

        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
          <div class="cotiza">
          <p class="cotiza1">Cotización n°: <b>{{cotizacion.numero_cotizacion}}</b></p>
          <p class="cotiza2">{{cotizacion.cliente.nombre}} </p>
          <p class="cotiza3">{{cotizacion.total_m3}} m3</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<h3 ng-if="cotizaciones_totales.length === 0">No hay cotizaciones realizadas.</h3>
