
<div ng-include='"views/cliente.html"'></div>
<div ng-include='"views/parcial_1.html"'></div>
<div ng-include='"views/presupuesto.html"'></div>
<div ng-show="nav==='4'"  class="col-md-12">
          <!-- Muebles y contenedores -->
              <h2>Contenedores</h2>
              <div class="formulario">
              <div class="row">
                  <div ng-repeat="c in contenedores" class="btnSeleccion" ng-init="n.num=0" ng-class="{btnSeleccionado:n.num>0}" >
                      <span class="classContenedores" ng-click="add_contenedor(c.contenedor,n.num);select_item(c);">{{c.contenedor}}</span>
                      <select ng-focus="scrollAnime($event)" ng-model="n" ng-options="n.num for n in cantidades" ng-change="add_contenedor(c.contenedor,n.num)">
                        <option value="">0</option>
                      </select>
                  </div>
                  <br><br>
                  <legend></legend>

            <h2>Muebles</h2>
                  <div ng-repeat="group in muebles_group | filter: buscarMueble">

                    <!-- <button style="border:none;background-color: #fff;width:100%;text-align: left;">
                    {{group.descripcion}}</button> -->
                    <h3>{{group.descripcion}}</h3>

                    <!-- Repeat de Muebles por descripcion -->
                    <div  ng-repeat=" c in muebles | filter: { descripcion:group.descripcion}:true " class="btnSeleccion" ng-class="{btnSeleccionado:m.num>0}">
                      <span class="classContenedores">{{c.especificacion}}</span>

                      <select ng-focus="scrollAnime($event)" ng-model="m" ng-options="m.num for m in cantidades" ng-change="add_mueble(c,m.num)">
                          <option value="">0</option>
                      </select>
                  </div>
                    <!-- fin Repeat de Muebles por descripcion -->
                  </div>
                  <br><br>
                  <legend></legend>
                  <h2>Otros <button class="btn btn-default" ng-click="add_campo()">+</button></h2>


                  <div ng-repeat="campo in otros_temp_campo">
                    <form name="form_otro">
                      <div class="row">
                        <div class="form-group col-md-3">
                          <label for="">Descripción</label>
                          <select class="form-control"  ng-focus="scrollAnime($event)"  ng-model="otro" ng-init="otro.tipo_mueble = 'Otros'" ng-change="add_otros(campo,otro,ancho.num,largo.num,alto.num,cant.num,descripcion,campo)">
                            <option>Otros</option>
                            <option ng-repeat="m in tipo_muebles">{{m.tipo_mueble}}</option>
                          </select>

                      </div>
                      <div class="col-md-3" ng-class="{hidden:otro !='Otros',error:!descripcion}">
                        <label for="">Descripción</label>
                        <input type="text"  placeholder="Descripción requerida" ng-model="descripcion" ng-blur="add_otros(campo,otro,ancho.num,largo.num,alto.num,cant.num,descripcion,campo)" class="form-control" >
                      </div>

                      <div class="form-group col-md-1">
                        <label for="">Ancho</label>

                        <select class="form-control " ng-model="ancho" ng-focus="scrollAnime($event)" ng-init="ancho.num =30" ng-options="b.num for b in cant_otros" ng-change="add_otros(campo,otro,ancho.num,largo.num,alto.num,cant.num,descripcion,campo)">
                          <option value="">30</option>
                        </select>
                      </div>

                      <div class="form-group col-md-1">
                        <label for="">Largo</label>
                        <select class="form-control"  ng-focus="scrollAnime($event)" ng-model="largo" ng-init="largo.num =30"ng-options="b.num for b in cant_otros" ng-change="add_otros(campo,otro,ancho.num,largo.num,alto.num,cant.num,descripcion,campo)">
                          <option value="">30</option>
                        </select>

                      </div>

                      <div class="form-group col-md-1">
                        <label for="">Alto</label>
                        <select class="form-control"  ng-focus="scrollAnime($event)" ng-model="alto" ng-init="alto.num =30" ng-options="b.num for b in cant_otros" ng-change="add_otros(campo,otro,ancho.num,largo.num,alto.num,cant.num,descripcion,campo)">
                          <option value="">30</option>
                        </select>


                      </div>

                      <div class="form-group col-md-1">
                        <label for="">Cantidad</label>
                        <select ng-model="cant" ng-disabled="!(ancho.num && otro && largo.num && alto.num)" class="form-control" ng-init="cant.num=1" ng-change="add_otros(campo,otro,ancho.num,largo.num,alto.num,cant.num,descripcion,campo)" ng-options="cant.num for cant in [{num:2},{num:3},{num:4},{num:5},{num:6},{num:7},{num:8},{num:9},{num:10},{num:11},{num:12},{num:13},{num:14},{num:15}]">
                          <option value="">1</option>
                        </select>
                      </div>
                      <div class="form-group col-md-1">
                        <a ng-click="delete_campo(campo)" class="glyphicon glyphicon-remove" style="font-size:25px;margin-top:30px;cursor:pointer;"></a>
                      </div>
                    </div>
                  </form>
                </div>
<legend></legend>
                <a ng-if="otros_temp_campo!=''" class="glyphicon glyphicon-plus" titulo="Agregar otro" style="right:-94%;font-size: 25px;" ng-click="add_campo()"></a>
          </div>
      </div>
</div>
<div ng-include='"views/material.html"'></div>
<div ng-hide="checked" ng-include='"views/resumen.html"'></div>
