        <div class="row">
            <div class="col-md-12">
                <h1>Cotización express</h1>
                <form>
                    <div class="row">
                    <div class="form-group col-md-6">
                        <label for="numerocotizacion">N° cotización:</label>
                        <input type="text" class="form-control" id="numerocotizacion" placeholder="e.g: 0001">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="responsable">Nombre del responsable:</label>
                        <select name="" id="responsable" class="form-control">
                            <option value="1">seleccione</option>
                            <option value="2">item 1</option>
                            <option value="3">item 2</option>
                        </select>
                    </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="id_cliente">Nombre del cliente:</label>
                            <select name="" id="id_cliente" class="form-control">
                            <option value="1">seleccione</option>
                            <option value="2">item 1</option>
                            <option value="3">item 2</option>
                        </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id_telefono">Telefono del cliente:</label>
                            <input type="number" id="id_telefono" class="form-control" placeholder="e.g: 000000000">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="id_email">Email del cliente:</label>
                            <input type="email" class="form-control" placeholder="e.g: correo@email.com">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id_dieccion">Dirección del cliente:</label>
                            <textarea name="direccion" id="id_direccion" cols="1" rows="1" class="form-control" placeholder="Dirección del cliente"></textarea>
                        </div>
                    </div>
                    <legend></legend>
                    <h2>Contenedores</h2>
                        <div ng-repeat="c in contenedores" class="btnSeleccion"  ng-class="{btnSeleccionado:cant>0}">
                            <span>{{c.contenedor}}</span>

                            <select ng-model="cant" id="cant{{c}}">
                                <option selected value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <br><br>
                        <legend></legend>
                        <h2>Muebles</h2>
                        <div class="btnSeleccion" ng-class="{btnSeleccionado:cant2>0}">
                            <span>Biblioteca <br></span>

                            <select ng-model="cant2" id="cant2">
                                <option selected value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <br><br>
                        <legend></legend>
                        <h2>Otros <button class="btn btn-default">+</button></h2>
                        <div class="row">
                           <div class="form-group col-md-4">
                            <label for="">Descripción</label>
                            <select name="cant" id="" class="form-control">
                                <option selected value="0">Sofá </option>
                                <option value="1">Sofá</option>
                                <option value="2">item 2</option>
                                <option value="3">item 3</option>
                            </select>
                            <input type="text" class="form-control hidden">
                            </div>
                            <div class="form-group col-md-4">
                            <label for="">Cantidad</label>
                            <select name="cant" id="" class="form-control">
                                <option selected value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            </div>
                            <div class="form-group col-md-4">
                            <label for="">Dimensiones</label>
                            <input type="text" class="form-control">
                            </div>
                        </div>

                    <br><br>
                    <button type="submit" class="btn btn-success verResumen">Ver resumen</button>
                </form>
            </div>
        </div>
