<div class="col-md-4 col-md-offset-4"><br><br><br><br>
  <div class="panel panel-info">
    <div class="panel-heading">Inicio de Sesión</div>
    <div class="panel-body">
      <form action="" name="formLogin">
        <div class="form-group">
          <label for="" class="control-label">Usuario:</label>
          <input type="text" id="cUsuario" name="cUsuario" class="form-control" placeholder="e.g: Juan01" required
          ng-class="{ error: formLogin.cUsuario.$error.required && !formLogin.$pristine, warning: formLogin.cUsuario.$error.cUsuario }" ng-model="cUsuario">
          <span ng-show="formLogin.cUsuario.$error.required && !formLogin.$pristine">Usuario es requerido.</span>
        </div>
        <div class="form-group">
          <label for="" class="control-label">Contraseña:</label>
          <input type="password" class="form-control" name="Contrasena" placeholder="e.g: xxxxx" required
          ng-class="{ error: formLogin.Contrasena.$error.required && !formLogin.$pristine, warning: formLogin.Contrasena.$error.Contrasena }" ng-model="Contrasena">
          <span ng-show="formLogin.Contrasena.$error.required && !formLogin.$pristine">Contraseña es requerido.</span>
        </div>
        <a href="">Recuperar Contraseña</a>
        <button class="btn btn-default btn-success" style="float:right;" ng-disabled="!formLogin.$valid">Ingresar</button>
      </form>
    </div>
  </div>
</div>
