<div ng-show="nav==='5'">
    <div class="col-md-12">
      <h2>Materiales de la mudanza</h2>
        <table class="tabla">
          <tr class="active">
            <th>Material</th>
            <th >Cantidad</th>
            <th width="200">Precio unit.</th>
            <th width="200">Totales</th>
          </tr>
          <tr ng-repeat="item in materiales">
            <td>{{item.descripcion}}</td>
            <td align="center" class="paddingNone">
              <!-- <select ng-focus="scrollAnime($event)" ng-model="cantidad" ng-options="m.num for m in cantidades"  ng-change="add_material(item,cantidad.num, item.precio)" class="selectMoneda" style="text-align-last: center;"> -->
              <select ng-focus="scrollAnime($event)" ng-model="cantidad" ng-options="m.num for m in cantidades" ng-init="cantidad=cantidades[0]" ng-change="add_material(item,cantidad.num, item.precio)" class="selectMoneda" style="text-align-last: center;">
              </select>
            <td align="center" class="paddingNone">
              <input type="number" ng-show="cantidad.num!='0'" ng-model="item.precio" ng-change="add_material(item,cantidad.num, item.precio)" >
            </td>
            <td style="text-align:right!important;" >{{item.precio * cantidad.num|currency}}</td>
          </tr>
          <tr class="active">
            <td colspan="3" style="text-align:right!important;"><strong>Total: </strong></td>
            <td style="text-align:right!important;"><strong>{{cotizacion.materiales|currency}}</strong></td>
          </tr>
        </table>
    </div>
</div>
