<div ng-show="nav==='5'" ng-if="limpiarM || nav==='5'">
    <div class="col-md-12">
      <h2>Materiales de la mudanza</h2>
        <table class="tabla">
          <tr class="active">
            <th>Material</th>
            <th >Cantidad</th>
            <th width="200">Precio unit.</th>
            <th width="200">Totales</th>
          </tr>
          <tr ng-repeat="item in materiales | orderBy : id">
            <td>{{item.descripcion}}</td>
            <td align="center" class="paddingNone">

              <!-- <select  ng-focus="scrollAnime($event)" ng-model="item.cantidad" ng-options="m.num for m in cantidades" ng-init="item.cantidad = cantidades[getIndexFromValue(item.cantidad)]" ng-change="add_material(item)" class="selectMoneda" style="text-align-last: center;"></select> -->

              <select ng-if="item.iscontenedor" convert-number ng-model="item.cantidad" ng-change="add_material(item)">
                <option ng-show="item.ncontenedor<=m.num" ng-selected="{{m.num == item.cantidad}}" ng-repeat="m in cantidades" value="{{m.num}}">{{m.cantidad}}</option>
              </select>
              <select ng-if="!item.iscontenedor" convert-number ng-model="item.cantidad" ng-change="add_material(item)">
                <option ng-selected="{{m.num == item.cantidad}}" ng-repeat="m in cantidades" value="{{m.num}}">{{m.cantidad}}</option>
              </select>

            <td align="center" class="paddingNone">


              <input ng-show="item.cantidad!=0" type="number" ng-model="item.precio" ng-change="add_material(item)" >

            </td>

            <td style="text-align:right!important;" ng-if="!check_object(item.cantidad)">{{item.precio * item.cantidad|currency}}</td>

          </tr>
          <tr class="active">
            <td colspan="3" style="text-align:right!important;"><strong>Total: </strong></td>
            <td style="text-align:right!important;"><strong>{{cotizacion.materiales|currency}}</strong></td>
          </tr>
        </table>
    </div>
</div>
