<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Materiales</h2>
  </div>
<div class="panel-body">
    <div class="col-md-12">
        <table class="table table-bordered">
          <tr class="info">
            <th>Material</th>
            <th style="width:80px; padding:10px;">Cantidad</th>
            <th style="width:80px; padding:10px;">Precio unit.</th>
            <th style="width:80px; padding:10px;">Totales</th>
          </tr>
          <tr ng-repeat="item in materiales">
            <td>{{item.descripcion}}</td>
            <td align="center">
              <select ng-focus="scrollAnime($event)" ng-model="cantidad" ng-options="m.num for m in cantidades" ng-change="add_material(item,cantidad.num, item.precio)">
              <option value="">0</option>
              </select>
            <td align="center">
              <input type="number" ng-show="cantidad.num!=undefined" ng-model="item.precio" ng-change="add_material(item,cantidad.num, item.precio)">
            </td>
            <td align="center">{{item.precio * cantidad.num|currency}}</td>
          </tr>
          <tr class="active">
            <td colspan="3"><strong>Total</strong></td>
            <td align="center"><strong>{{total_materiales|currency}}</strong></td>
          </tr>
        </table>
    </div>
  </div>
</div>
