<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text"></h2>
  </div>
<div class="panel-body">
    <div class="col-md-12">
        <table class="table table-bordered">
          <tr>
            <td align="center">km</td>
            <td><input type="number" name"recorrido_km" ng-model="cotizacion.recorrido_km" ng-change="add_parcial1(cotizacion, cotizacion.recorrido_km, cotizacion.precio_km)"></td>
            <td align="center">
              <select name="precio_km" id="precio_km" ng-model="cotizacion.precio_km" ng-change="add_parcial1(cotizacion, cotizacion.recorrido_km, cotizacion.precio_km)">
                <option value="" selected>$30</option>
                <option value="33">$33</option>
                <option value="37">$37</option>
                <option value="41">$41</option>
              </select>
            </td>
            <td align="center">{{recorrido_km * precio_km|currency}}</td>
          </tr>
          <tr>
            <td align="center">Tiempo de carga</td>
            <td align="center" colspan="2">
              <select ng-focus="scrollAnime($event)" ng-model="cotizacion.tiempo_de_carga" ng-options="m.num for m in cantidades" ng-change="add_parcial1(cotizacion, cotizacion.recorrido_km, cotizacion.precio_km)">
              <option value="">0</option>
              </select>
            <td></td>
          </tr>
          <tr>
            <td align="center">Tiempo de descarga</td>
            <td align="center" colspan="2">
              <select ng-focus="scrollAnime($event)" ng-model="cotizacion.tiempo_de_descarga" ng-options="m.num for m in cantidades" ng-change="add_parcial1(cotizacion, cotizacion.recorrido_km, cotizacion.precio_km)">
              <option value="">0</option>
              </select>
            <td></td>
          </tr>
          <tr>
            <td align="center">Camión n°</td>
            <td align="center" colspan="2">
              <select ng-focus="scrollAnime($event)" ng-model="cotizacion.numero_camion" ng-options="m.num for m in cantidades" ng-change="add_parcial1(cotizacion, cotizacion.recorrido_km, cotizacion.precio_km)">
              <option value="">0</option>
              </select>
            <td></td>
          </tr>
          <tr>
            <td align="center">Ayudantes</td>
            <td align="center" colspan="2">
              <select ng-focus="scrollAnime($event)" ng-model="cotizacion.numero_ayudante" ng-options="m.num for m in cantidades" ng-change="add_parcial1(cotizacion, cotizacion.recorrido_km, cotizacion.precio_km)">
              <option value="">0</option>
              </select>
            <td></td>
          </tr>
          <tr>
            <td align="center">Seguro</td>
            <td align="center" colspan="2">
              <select name="seguro" id="seguro" ng-model="cotizacion.seguro" ng-change="add_parcial1(cotizacion, cotizacion.recorrido_km, cotizacion.precio_km)">
                <option value="Si" selected>Si</option>
                <option value="No">No</option>
              </select>
            <td></td>
          </tr>
          <tr>
            <td align="center">Desarme de Muebles</td>
            <td align="center" colspan="2">
              <select name="desarme_mueble" id="desarme_mueble" ng-model="cotizacion.desarme_mueble" ng-change="add_parcial1(cotizacion, cotizacion.recorrido_km, cotizacion.precio_km)">
                <option value="Si" selected>Si</option>
                <option value="No">No</option>
              </select>
            <td></td>
          </tr>
          <tr>
            <td align="center">Ambiente</td>
            <td align="center" colspan="2">
              <select ng-focus="scrollAnime($event)" ng-model="cotizacion.ambiente" ng-options="m.num for m in cantidades" ng-change="add_parcial1(cotizacion, cotizacion.recorrido_km, cotizacion.precio_km)">
              <option value="">0</option>
              </select>
            <td></td>
          </tr>
          <tr>
            <td align="center">Rampa</td>
            <td align="center" colspan="2">
             <select name="rampa" id="rampa" ng-model="cotizacion.rampa" ng-change="add_parcial1(cotizacion, cotizacion.recorrido_km, cotizacion.precio_km)">
                 <option value="Si" selected>Si</option>
                <option value="No">No</option>
              </select>
            <td></td>
          </tr>
        </table>
    </div>
  </div>
</div>
