<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div class="row">
    <div class="col-md-12">
      <h1>Resumen</h1>
      <div class="panel panel-default hidden">
        <div class="col-md-12"><h2>{{cliente.nombre}}</h2></div>
        <div class="panel-body">

        <h3>{{cliente.nombre}}</h3>
          <div class="col-md-12 col-lg-4">
            <p><strong>Email:</strong>
              {{cliente.email}}
            </p>
            <p><strong>Telefono:</strong>
               {{cliente.telefono}}
            </p>

          </div>
          <div class="col-md-12 col-lg-4">

          </div>
          <div class="col-md-12 col-lg-4">
            <p>
              <strong>N° Cotización: </strong>{{cotizacion.numero}}
            </p>
            <p>
              <strong>Responsable: </strong>{{cotizacion.responsable}}
            </p>
        </div>
        <p><strong>Dirección:</strong>{{cliente.direccion}}</p>
      </div>
    </div>
        <form class="formulario">
          <h2>Contenedores</h2>
          <table class="table table-bordered">
              <tr class="info">
                <th>Contenedor</th>
                <th style="width:80px; padding:10px;">Cantidad</th>
                <th style="width:80px; padding:10px; padding-left:30px;">m<sup>3</sup></th>
              </tr>
              <tr ng-repeat="item in contenedores_temp">
                <td>{{item.contenedor}}</td>
                <td align="center">{{item.unidad}}</td>
                <td align="center">{{item.punto/10|number:2}}</td>
              </tr>
              <tr class="active">
                <td><strong>Total</strong></td>
                <td align="center"><strong>{{unidades_contenedores}}</strong></td>
                <td align="center"><strong>{{metros3_contenedores|number:2}}</strong></td>
              </tr>
          </table>

          <h2>Muebles</h2>
          <table class="table table-bordered">
            <tr class="info">
              <th>Mueble</th>
              <th style="width:80px; padding:10px;">Dimension</th>
              <th style="width:80px; padding:10px;">Cantidad</th>
              <th style="width:80px; padding:10px; padding-left:30px;">m<sup>3</sup></th>
            </tr>
            <tr ng-repeat="item in muebles_temp">
              <td ng-if="item.mueble == 'Otros'">Otros-{{item.descripcion}}</td>
              <td ng-if="item.mueble != 'Otros'">{{item.mueble}}</td>
              <td align="center">{{item.ancho}}x{{item.largo}}x{{item.alto}}</td>
              <td align="center">{{item.cantidad}}</td>
              <td align="center">{{item.total_punto/10|number:2}}</td>
            </tr>
            <tr class="active">
              <td colspan="2"><strong>Total</strong></td>
              <td align="center"><strong>{{unidades_otros}}</strong></td>
              <td align="center"><strong>{{metros3_otros|number:2}}</strong></td>
            </tr>
          </table>

          <h2>Totales</h2>
          <table style="width:200px;" class="table table-bordered">
            <tr>
              <th class="info">Total m<sup>3</sup></th>
              <td align="center"><strong>{{metros3_contenedores+metros3_muebles+metros3_otros|number:2}}</strong></td>
            </tr>
          </table>
          <button type="submit" ng-disabled="otros_temp.length === 0 && contenedores_temp.length === 0 && muebles_temp.length === 0" class="btn btn-success" onclick="descargarExcel()" ng-click="save(cotizacion,cliente)">Exportar</button>
        </form>
    </div>

    <div id="divExportar" class="col-md-12">
        <h1>Resumen</h1>
            <!-- <table border=1 id="tablaTotal" class="hidden">
              <tr>
                <th style="background-color: #d9edf7">Nro. Cotizacion</th>
                <td>{{cotizacion.numero}}</td>
              </tr>
              <tr>
                <th style="background-color: #d9edf7">Cliente</th>
                <td>{{cliente.nombre}}</td>
              </tr>
              <tr>
                <th style="background-color: #d9edf7">Responsable</th>
                <td>{{cliente.responsable}}</td>
              </tr>
            </table> -->
            <table  border=1 style="width:1250;" id="prueba">
              <thead>
              <tr>
                <th rowspan=8 colspan=10><img src="app/img/LogoMudarte.png" /></th>
                <th rowspan=2>N° Cotiz.</th>
                <td rowspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th rowspan=2>Fuente</th>
                <td rowspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th rowspan=2>CP/PV</th>
                <td rowspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th rowspan=2>Particular</th>
                <td rowspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th align=left rowspan=2 colspan=3>Nombre y apellido:</th>
                <td align=center rowspan=2 colspan=7><h2>Pablo Amendola</h2></td>
                <th rowspan=2>Empresa</th>
                <td rowspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th align=left rowspan=2 colspan=3>Telefono:</th>
                <td align=center rowspan=2 colspan=7></td>
                <th rowspan=2>Gobierno</th>
                <td rowspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th align=left rowspan=2 colspan=3>Correo electronico:</th>
                <td align=center rowspan=2 colspan=7></td>
                <th rowspan=2>Cargo</th>
                <td rowspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th align=left rowspan=2 colspan=3>Fecha en que se encargo:</th>
                <td align=center rowspan=2 colspan=3></td>
                <th rowspan=2 colspan=2>Hora:</th>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2>Cotizador</th>
                <td rowspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th align=left rowspan=2 colspan=3>Fecha estimada de mudanza:</th>
                <td align=center rowspan=2 colspan=3></td>
                <th rowspan=2 colspan=2>Hora:</th>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2>Forma Pago</th>
                <td rowspan=2 align=center></td>
              </tr>
              <tr></tr>
              </thead>
              <tbody>
              <tr>
                <th align=left rowspan=2 colspan=3>Fecha en que se cotizo:</th>
                <td align=center rowspan=2 colspan=3></td>
                <th rowspan=2 colspan=2>Hora:</th>
                <td rowspan=2 colspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th align=left rowspan=2 colspan=3>Fecha en que se aviso:</th>
                <td align=center rowspan=2 colspan=3></td>
                <th rowspan=2 colspan=2>Hora:</th>
                <td rowspan=2 colspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th align=left rowspan=2 colspan=3>Fecha en que se cerro:</th>
                <td align=center rowspan=2 colspan=3></td>
                <th rowspan=2 colspan=2>Hora:</th>
                <td rowspan=2 colspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th align=left rowspan=2 colspan=3>Fecha real de mudanza:</th>
                <td align=center rowspan=2 colspan=3></td>
                <th rowspan=2 colspan=2>Hora:</th>
                <td rowspan=2 colspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th align=left rowspan=2 colspan=5>Nombre de quien paso la cotizacion:</th>
                <td align=center rowspan=2 colspan=5></td>
              </tr>
              <tr></tr>
              <tr>
                <th align=left rowspan=2 colspan=5>Nombre de quien llamo al cliente:</th>
                <td align=center rowspan=2 colspan=5></td>
              </tr>
              <tr></tr>
              <tr>
                <th rowspan=2 colspan=6>Domicilio de Origen:</th>
                <th rowspan=2 colspan=4>Barrio/Provincia:</th>
              </tr>
              <tr></tr>
              <tr>
                <td align=center rowspan=3 colspan=6></td>
                <td align=center rowspan=3 colspan=4></td>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <th rowspan=2 colspan=10>Observaciones de Origen:</th>
              </tr>
              <tr></tr>
              <tr>
                <td rowspan=6 colspan=10></td>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <th rowspan=2 colspan=6>Domicilio de Destino:</th>
                <th rowspan=2 colspan=4>Barrio/Provincia:</th>
              </tr>
              <tr></tr>
              <tr>
                <td align=center rowspan=3 colspan=6></td>
                <td align=center rowspan=3 colspan=4></td>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <th rowspan=2 colspan=10>Observaciones de Destino:</th>
              </tr>
              <tr></tr>
              <tr>
                <td rowspan=6 colspan=10></td>
              </tr>

              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
            </tbody>
            </table>
            <br>
            <br>
            <br>
            <br>
            <br>
          <table border=1 id="tablaMateriales">
          <tbody>
              <tr>
                <th rowspan=2 colspan=2>Km</th>
                <td rowspan=2 align=center></td>
                <td rowspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Materiales</th>
                <th rowspan=2 colspan=2>Cantidad</th>
                <th rowspan=2 colspan=2>Precio unit.</th>
                <th rowspan=2 colspan=2>Totales</th>
                <th rowspan=2 colspan=2>Mudanza</th>
                <td rowspan=2 colspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th rowspan=2 colspan=2>Tiempo de carga</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Cajas Nuevas</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Soga</th>
                <td rowspan=2 colspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th rowspan=2 colspan=2>Tiempo de descarga</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Cajas Reciclables</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Embalaje</th>
                <td rowspan=2 colspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th rowspan=2 colspan=2>Camion N°</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Streech</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Desembalaje</th>
                <td rowspan=2 colspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th rowspan=2 colspan=2>Ayudantes</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Pluriball</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Materiales</th>
                <td rowspan=2 colspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th rowspan=2 colspan=2>Seguro</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Corrugado</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Piano/C.fuerte</th>
                <td rowspan=2 colspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th rowspan=2 colspan=2>Desarme de Muebles</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Cintas</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Ajuste</th>
                <td rowspan=2 colspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th rowspan=2 colspan=2>Ambientes</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Papel Sulfito</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>IVA</th>
                <td rowspan=2 colspan=2 align=center></td>
              </tr>
              <tr></tr>
              <tr>
                <th rowspan=2 colspan=2>Rampa</th>
                <td rowspan=2 align=center></td>
                <td rowspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Bolsas</th>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <td rowspan=2 colspan=2 align=center></td>
                <th rowspan=2 colspan=2>Total</th>
                <td rowspan=2 colspan=2 style="background-color: #A9A9A9;" align=center></td>
              </tr>
              <tr></tr>
            </tbody>
            </table>
            <br>
            <br>
            <br>
            <h2>Contenedores</h2>
            <legend></legend>
            <table border=1 id="tablaContenedor">
              <tr>
                <th rowspan=2 colspan=2>Contenedor</th>
                <th rowspan=2 colspan=2>Cantidad</th>
                <th rowspan=2 colspan=2>m<sup>3</sup></th>
              </tr>
              <tr></tr>
              <tr ng-repeat="item in contenedores_temp">
                <td rowspan=2 colspan=2 align=center>{{item.contenedor}}</td>
                <td rowspan=2 colspan=2 align=center>{{item.unidad}}</td>
                <td rowspan=2 colspan=2 align=center>{{item.punto/10|number:2}}</td>
              </tr>
              <tr></tr>
              <tr style="background-color: #A9A9A9;">
                <th rowspan=2 colspan=2>Total</th>
                <td rowspan=2 colspan=2 align=center><strong>{{unidades_contenedores}}</strong></td>
                <td rowspan=2 colspan=2 align=center><strong>{{metros3_contenedores|number:2}}</strong></td>
              </tr>
              <tr></tr>
            </table>
            <br>
            <br>
            <h2>Muebles</h2>
            <legend></legend>
            <table border=1 id="tablaMueble">
              <tr>
                <th rowspan=2 colspan=2>Mueble</th>
                <th rowspan=2 colspan=2>Dimension</th>
                <th rowspan=2 colspan=2>Cantidad</th>
                <th rowspan=2 colspan=2>m<sup>3</sup></th>
              </tr>
              <tr></tr>
              <tr ng-repeat="item in muebles_temp">
                <td rowspan=2 colspan=2 ng-if="item.mueble == 'Otros'">Otros-{{item.descripcion}}</td>
                <td rowspan=2 colspan=2 ng-if="item.mueble != 'Otros'">{{item.mueble}}</td>
                <td rowspan=2 colspan=2>{{item.ancho}}x{{item.largo}}x{{item.alto}}</td>
                <td rowspan=2 colspan=2>{{item.cantidad}}</td>
                <td rowspan=2 colspan=2>{{item.total_punto/10|number:2}}</td>
              </tr>
              <tr></tr>
              <tr style="background-color: #A9A9A9;">
              <th rowspan=2 colspan=2 colspan="2" class="estiloUno">Total</th>
              <td rowspan=2 colspan=2><strong>{{unidades_otros}}</strong></td>
              <td rowspan=2 colspan=2><strong>{{metros3_otros|number:2}}</strong></td>
              </tr>
              <tr></tr>
            </table>

            <h2>Totales</h2>
            <legend></legend>
            <table border=1 id="tablaTotal">
              <tr>
                <th rowspan=2 colspan=2 style="background-color: #A9A9A9;">Total m<sup>3</sup></th>
                <th rowspan=2 colspan=2><strong>{{metros3_contenedores+metros3_muebles+metros3_otros|number:2}}</strong></th>
              </tr>
              <tr></tr>
            </table>
    </div>
</div>

<script>
function descargarExcel(){
        var tmpElemento = document.createElement('a');
        var data_type = 'data:application/vnd.ms-excel; charset=utf-8';
        var tabla_div = document.getElementById('divExportar');
        var tabla_html = tabla_div.outerHTML.replace(/ /g, '%20');
        tmpElemento.href = data_type + ', ' + tabla_html;
        //Asignamos el nombre a nuestro EXCEL
        tmpElemento.download = 'Resumen.xls';
        tmpElemento.click();
    }
</script>
